<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-clipboard2@0.3.1/dist/vue-clipboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-clipboard2@0.3.1/dist/vue-clipboard.min.js"></script>
    <style>
      #app {
        display: flex;
        justify-content: center;
      }
      .app_bar {
        font-weight: bold;
      }
      .palette {
        border-radius: 20px;
        border: 2px solid lightgrey;
        font-weight: bold;
        width: 500px;
      }
      .color_box {
        margin: 20px 1px 1px 1px;
      }
      .color_button {
        border-radius: 50%;
        padding: 45px;
        transform: translate(0, 0);
        transition: transform 0.2s;
      }
      .color_button:hover {
        opacity: 0.6;
        color: white;
        transform: translate(0, -20px);
      }
      .input_text {
        padding: 0.7rem;
        font-size: 2rem;
        border-radius: 7px;
        background: #ffffff;
        margin-top: 50px;
        text-align: center;
        font-weight: bold;
      }
      .color_button2 {
        width: 100px;
        height: 100px;
        border-radius: 12px;
        color: transparent;
      }

      .color_button2:hover {
        opacity: 0.7;
        color: white;
      }
    </style>
    <title>Palette</title>
  </head>
  <body>
    <div id="app" :style="{backgroundColor : color}">
      <v-app :style="{backgroundColor: color}">
        <v-app-bar src="" app color="#ffeead" class="app_bar">
          <v-toolbar-title class="app_bar_title black--text mx-auto"
            >Palette
            <v-icon class="black--text"
              >mdi-palette-outline</v-icon
            ></v-toolbar-title
          >
        </v-app-bar>

        <v-main>
          <v-container>
            <v-row class="justify-center">
              <v-col
                cols="2"
                class="color_box"
                v-for="circleColor,j in chooseColors"
                :key="j"
                ref="choose_btn"
                :id="circleColor"
                ><button
                  @click="ChooseColor(j)"
                  class="color_button"
                  :style="{backgroundColor: circleColor}"
                ></button
              ></v-col>
            </v-row>
          </v-container>

          <v-container class="palette">
            <v-responsive class="overflow-y-auto my-auto" max-height="420">
              <div class="pa-5 text-center">
                Scroll Down<v-icon class="red--text"
                  >mdi-arrow-down-thick</v-icon
                ><v-icon class="red--text">mdi-arrow-down-thick</v-icon
                ><v-icon class="red--text">mdi-arrow-down-thick</v-icon>
              </div>
              <div style="font-weight: 900" class="text-center">
                <v-icon class="green--text">mdi-check-bold</v-icon> Auto Copy On
                Click
                <v-icon dark>mdi-cursor-default-outline</v-icon>
                <v-icon class="black--text">mdi-content-copy</v-icon>
              </div>

              <v-row class="ma-6">
                <v-col
                  v-if="pickColor === 'whites'"
                  v-for="c,i in whites"
                  ref="click_btn"
                  :key="i"
                >
                  <button
                    @click="SelectColor(i)"
                    class="color_button2"
                    :style="{backgroundColor: c}"
                  >
                    <div id="color_code">{{c}}</div>
                  </button>
                </v-col>
                <v-col
                  v-if="pickColor === 'blacks'"
                  v-for="c,i in blacks"
                  ref="click_btn"
                  :key="i"
                >
                  <button
                    @click="SelectColor(i)"
                    class="color_button2"
                    :style="{backgroundColor: c}"
                  >
                    <div id="color_code">{{c}}</div>
                  </button>
                </v-col>
                <v-col
                  v-if="pickColor === 'reds'"
                  v-for="c,i in reds"
                  ref="click_btn"
                  :key="i"
                >
                  <button
                    @click="SelectColor(i)"
                    class="color_button2"
                    :style="{backgroundColor: c}"
                  >
                    <div id="color_code">{{c}}</div>
                  </button>
                </v-col>
                <v-col
                  v-if="pickColor === 'oranges'"
                  v-for="c,i in oranges"
                  ref="click_btn"
                  :key="i"
                >
                  <button
                    @click="SelectColor(i)"
                    class="color_button2"
                    :style="{backgroundColor: c}"
                  >
                    <div id="color_code">{{c}}</div>
                  </button>
                </v-col>
                <v-col
                  v-if="pickColor === 'yellows'"
                  v-for="c,i in yellows"
                  ref="click_btn"
                  :key="i"
                >
                  <button
                    @click="SelectColor(i)"
                    class="color_button2"
                    :style="{backgroundColor: c}"
                  >
                    <div id="color_code">{{c}}</div>
                  </button>
                </v-col>
                <v-col
                  v-if="pickColor === 'greens'"
                  v-for="c,i in greens"
                  ref="click_btn"
                  :key="i"
                >
                  <button
                    @click="SelectColor(i)"
                    class="color_button2"
                    :style="{backgroundColor: c}"
                  >
                    <div id="color_code">{{c}}</div>
                  </button>
                </v-col>
                <v-col
                  v-if="pickColor === 'blues'"
                  v-for="c,i in blues"
                  ref="click_btn"
                  :key="i"
                >
                  <button
                    @click="SelectColor(i)"
                    class="color_button2"
                    :style="{backgroundColor: c}"
                  >
                    <div id="color_code">{{c}}</div>
                  </button>
                </v-col>
                <v-col
                  v-if="pickColor === 'navys'"
                  v-for="c,i in navys"
                  ref="click_btn"
                  :key="i"
                >
                  <button
                    @click="SelectColor(i)"
                    class="color_button2"
                    :style="{backgroundColor: c}"
                  >
                    <div id="color_code">{{c}}</div>
                  </button>
                </v-col>
                <v-col
                  v-if="pickColor === 'purples'"
                  v-for="c,i in purples"
                  ref="click_btn"
                  :key="i"
                >
                  <button
                    @click="SelectColor(i)"
                    class="color_button2"
                    :style="{backgroundColor: c}"
                  >
                    <div id="color_code" :value="color">{{c}}</div>
                  </button>
                </v-col>
              </v-row>

              <v-responsive height="0vh" class="text-center pa-2">
              </v-responsive>
            </v-responsive>
          </v-container>

          <v-container>
            <v-row class="justify-center">
              <input
                type="text"
                placeholder=" Check text color here!"
                class="input_text"
                :style="{color: color}"
              />
              <!-- <v-col cols="9">
              <v-card class="pa-10" color="grey">
                <v-text-field
                  rounded
                  dense
                  clearable
                  placeholder="Check color here!"
                  style="font-size: 2em; font-weight: bold"
                >
                </v-text-field>
              </v-card>
            </v-col> -->
            </v-row>
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          color: "#ffad60",
          pickColor: "",
          chooseColors: [
            "white",
            "black",
            "red",
            "orange",
            "yellow",
            "green",
            "blue",
            "navy",
            "purple",
          ],
          whites: [
            "#ffffff",
            "#f2f2f2",
            "#e5e5e5",
            "#d8d8d8",
            "#cccccc",
            "#b2b2b2",
            "#999999",
            "#7f7f7f",
            "#666666",
            "#4c4c4c",
            "#333333",
            "#191919",
          ],
          blacks: [
            "#000000",
            "#0c0c0c",
            "#191919",
            "#262626",
            "#323232",
            "#4c4c4c",
            "#666666",
            "#7f7f7f",
            "#999999",
            "#b2b2b2",
            "#cccccc",
            "#e5e5e5",
          ],
          reds: [
            "#330000",
            "#4c0000",
            "#660000",
            "#7f0000",
            "#990000",
            "#b20000",
            "#cc0000",
            "#e50000",
            "#ff0000",
            "#ff1919",
            "#ff3232",
            "#ff4c4c",
            "#ff6666",
            "#ff7f7f",
            "#ff9999",
            "#ffb2b2",
            "#ffcccc",
            "#ffe5e5",
          ],
          oranges: [
            "#332100",
            "#4c3100",
            "#664200",
            "#7f5200",
            "#996300",
            "#b27300",
            "#cc8400",
            "#e59400",
            "#ffa500",
            "#ffae19",
            "#ffb732",
            "#ffc04c",
            "#ffc966",
            "#ffd27f",
            "#ffdb99",
            "#ffe4b2",
            "#ffedcc",
            "#fff6e5",
          ],
          yellows: [
            "#333300",
            "#4c4c00",
            "#666600",
            "#7f7f00",
            "#999900",
            "#b2b200",
            "#cccc00",
            "#e5e500",
            "#ffff00",
            "#ffff19",
            "#ffff32",
            "#ffff4c",
            "#ffff66",
            "#ffff7f",
            "#ffff99",
            "#ffffb2",
            "#ffffcc",
            "#ffffe5",
          ],
          greens: [
            "#003300",
            "#004c00",
            "#006600",
            "#007f00",
            "#009900",
            "#00b200",
            "#00cc00",
            "#00e500",
            "#00ff00",
            "#19ff19",
            "#32ff32",
            "#4cff4c",
            "#66ff66",
            "#7fff7f",
            "#99ff99",
            "#b2ffb2",
            "#ccffcc",
            "#e5ffe5",
          ],
          blues: [
            "#000033",
            "#00004c",
            "#000066",
            "#00007f",
            "#000099",
            "#0000b2",
            "#0000cc",
            "#0000e5",
            "#0000ff",
            "#1919ff",
            "#3232ff",
            "#4c4cff",
            "#6666ff",
            "#7f7fff",
            "#9999ff",
            "#b2b2ff",
            "#ccccff",
            "#e5e5ff",
          ],
          navys: [
            "#000019",
            "#000026",
            "#000033",
            "#000040",
            "#00004c",
            "#000059",
            "#000066",
            "#000073",
            "#000080",
            "#19198c",
            "#323299",
            "#4c4ca6",
            "#6666b2",
            "#7f7fbf",
            "#9999cc",
            "#b2b2d8",
            "#cccce5",
            "#e5e5f2",
          ],
          purples: [
            "#200630",
            "#300948",
            "#400c60",
            "#501078",
            "#601390",
            "#7016a8",
            "#8019c0",
            "#901cd8",
            "#a020f0",
            "#a936f1",
            "#b34cf3",
            "#bc62f4",
            "#c679f6",
            "#cf8ff7",
            "#d9a5f9",
            "#e2bcfa",
            "#ecd2fc",
            "#f5e8fd",
          ],
        },
        methods: {
          ChooseColor(n) {
            this.pickColor = this.$refs.choose_btn[n].id + "s";
          },
          SelectColor(n) {
            this.color = this.$refs.click_btn[n].innerText;
            this.$copyText(this.color);
          },
          // doCopy() {
          //   this.$copyText(this.color);
          // },
        },
      });
    </script>
  </body>
</html>
